/* HTML el */
html {
    /* enable smooth scrolling */
    scroll-behavior: smooth;
}

/* Body styling */
body {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    box-sizing: border-box;
    color: white;
    background-color: #4f686d;
}

a {
    color: white;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: rgb(255, 255, 255, 0.5);
}

h1 {
    font-weight: 500;
    font-size: 2.5rem;
}

h2 {
    font-weight: 500;
    font-size: 2rem;
}

h3 {
    font-weight: 500;
    font-size: 1.5rem;
}

h4 {
    font-weight: 500;
    font-size: 1.25rem;
}

.nav-desktop {
    display: flex;
}

.nav-mobile {
    display: none;
}


/* Utility classes */
.spacer {
    height: 1vh;
}

.separator {
    background-color: #44595d;
    height: 2px;
    padding-bottom: 1px;
    margin: 30px 0;
    width: 100%;
}

/* Navigation */
.nav {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: rgb(20, 65, 65);
    color: white;
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100000;
    box-shadow: 0px 0px 19px 18px rgba(0,0,0,0.1);
}

.nav>ul {
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding-inline-start: 0;
}

.nav>ul>li {
    margin-left: 0;
    position: relative;
}

.nav>ul>li>a {
    text-decoration: none;
    color: white;
    transition: color 0.2s ease-in-out;
}

.nav>ul>li>a:hover {
    color: rgb(255, 255, 255, 0.5);
}

.nav-link-active {
    text-decoration: underline !important;
    font-weight: bold;
}

.vertical-nav-separator {
    content: " \2219 ";
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 0 10vw;

    box-sizing: border-box;
}

.container-without-padding {
    width: 100%;
}

/* Header styling: handles the box that contains an image that fades out on the bottom, and a profile picture and name in the center */
.header-1 {
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: rgb(8, 26, 26);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(8, 26, 26) 90%), url('https://cdn.ahong.ca/assets/media/bg/bg1.webp');
}

.header-2 {
    background-color: rgb(8, 26, 26);
    height: 10vh;
    position: relative;
}

#rt-canvas {
    min-height: 28vw;
}

.header-2-content {
    position: absolute;
    top: -22vh;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header-2-content>img {
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    border: 2px solid white;
}

/* Content */
.content {
    /* Fill at least 100vh (including header) */
    min-height: calc(100vh - 45vh);
    padding: 30px 0;
    background-color: rgb(36, 47, 49);
}

.content>h1,
.content>h2,
.content>h3,
.content>h4 {
    margin: 0;
    padding: 0 30px;
}

.content>p {
    line-height: 1.5;
    padding: 0 30px;
}

.content>ul {
    margin-left: 2rem;
    margin-right: 2rem;
}

.content>div>h1,
.content>div>h2,
.content>div>h3,
.content>div>h4 {
    margin: 0;
    padding: 0 30px;
}

.content>div>p {
    line-height: 1.5;
    padding: 0 30px;
}

.content>div>ul {
    margin-left: 2rem;
    margin-right: 2rem;
}

.credit-line {
    text-align: center;
    margin-bottom: 0px !important;
}

/* Contact form */
.contact-form {
    width: calc(100% - 4rem);
    margin-left: 2rem;
}

.contact-form-input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: none;
    background-color: rgb(76, 98, 102);
    margin-bottom: 1rem;
    color: white;
    font-family: 'Lora', serif;
}

.contact-form-input::placeholder,
.contact-form-textarea::placeholder {
    color: rgb(186, 186, 186);
}

.contact-form-textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: none;
    background-color: rgb(76, 98, 102);
    margin-bottom: 1rem;
    color: white;
    resize: vertical;
    font-family: 'Lora', serif;
}

.contact-form-submit {
    padding: 12px 24px;
    box-sizing: border-box;
    border: none;
    background-color: rgb(76, 98, 102);
    margin-bottom: 1rem;
    color: white;
    cursor: pointer;
    font-family: 'Lora', serif;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

.contact-form-submit:hover {
    background-color: rgb(76, 98, 102, 0.5);
}

.contact-form-status {
    color: white;
    padding: 12px;
    box-sizing: border-box;
    border: none;
    background-color: rgb(28, 37, 39);
    margin-bottom: 1rem;
    display: none;
}

.rt-video {
    height: 60vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rt-video>video {
    width: auto;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .header {
        height: 40vh;
    }

    .container {
        padding: 0 0;
    }

    .nav-desktop {
        display: none;
    }
    
    .nav-mobile {
        display: flex;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .header {
        height: 40vh;
    }

    .container {
        padding: 0 0;
    }
}