name: Build

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy-main-website:
    environment: Build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Install awscli
      run: sudo snap install aws-cli --classic

    - name: Install imagemagick
      run: sudo apt-get update -y && sudo apt-get install -y imagemagick

    - name: Run build script
      run: ./build.sh
      env:
        R2_ACCESS_KEY_SECRET: ${{ secrets.R2_ACCESS_KEY_SECRET }}
        R2_ACCESS_KEY_ID: ${{ secrets.R2_ACCESS_KEY_ID }}
        R2_API_URL: ${{ secrets.R2_API_URL }}
        R2_DEFAULT_REGION: ${{ secrets.R2_DEFAULT_REGION }}
        R2_BUCKET_NAME: ${{ secrets.R2_BUCKET_NAME }}
        PROJECT_DIR: ${{ github.workspace }}
  build-blog:
    environment: Build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.BUILD_TOKEN }}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    # Build image in repository_root/Dockerfile
    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: "{{defaultContext}}:blog"
        push: true
        tags: ghcr.io/flamesrunner/personal-website-blog:latest

  deploy-blog:
    environment: Build
    runs-on: ubuntu-latest
    needs: build-blog

    steps:
      - name: Connect to Tailscale
        uses: tailscale/github-action@v2
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_KEY }}
          tags: tag:ci
      # SSH into the host variables.KUBE_CONTROLLER_USER@variables.KUBE_CONTROLLER with key secrets.KUBE_CONTROLLER_KEY
      # and run the command ./deploy.sh (has suid bit set to run rollout command as root)
      - name: Deploy blog
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.KUBE_CONTROLLER }}
          username: ${{ vars.KUBE_CONTROLLER_USER }}
          key: ${{ secrets.KUBE_CONTROLLER_KEY }}
          script: |
            ./deploy.sh