name: Build

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy-main-website:
    environment: Build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Install awscli
      run: sudo snap install aws-cli --classic

    - name: Install imagemagick
      run: sudo apt-get update -y && sudo apt-get install -y imagemagick

    - name: Run build script
      run: ./build.sh
      env:
        R2_ACCESS_KEY_SECRET: ${{ secrets.R2_ACCESS_KEY_SECRET }}
        R2_ACCESS_KEY_ID: ${{ secrets.R2_ACCESS_KEY_ID }}
        R2_API_URL: ${{ secrets.R2_API_URL }}
        R2_DEFAULT_REGION: ${{ secrets.R2_DEFAULT_REGION }}
        R2_BUCKET_NAME: ${{ secrets.R2_BUCKET_NAME }}
        PROJECT_DIR: ${{ github.workspace }}
  build-and-deploy-blog:
    environment: Build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

      # Must run in blog/ to build the Docker image

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.BUILD_TOKEN }}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    # Build image in repository_root/Dockerfile
    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: ./blog
        file: Dockerfile
        push: true
        tags: ghcr.io/flamesrunner/personal-website:latest
      
    